@import "tailwindcss";
@import "./fonts.css";
@tailwind utilities;

@theme {
  --font-yekan: "Iran Yekan", "sans-serif";
  --font-vazir: "Vazir", "sans-serif";
  --font-lalezar: "Lalezar", "sans-serif";
  --font-iranianSans: "Iranian sans", "sans-serif";
}

html,
body {
  direction: rtl;
  margin: 0;
  padding: 0;
}
